// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

* {
 font-family: "Trebuchet MS";
}


section h1:first-child {
    margin-top: 0px;
}

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}



.button-js {
  display: inline-block;
  border-radius: 4px;
  background-color: #A80874;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-js span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-js span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-js:hover span {
  padding-right: 25px;
}

.button-js:hover span:after {
  opacity: 1;
  right: 0;
}


.items {
  position: relative;
}

.button-navbar {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFF; //nu are relevanta
  opacity: 1;
  border: none;
  color: #000;
  text-align: center;
  text-transform:uppercase;

  font-size: 2.5vw;
  padding: 1.5vw;
  width: 4vw;
  font-weight:400;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1vw;

  position: relative;

//responsivness
//  border-radius:15%;
//  word-wrap: break-word;
//  width: 100px; // only for IE8
//  max-width: 100%;
}


.button-navbar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button-navbar:hover {
  background-color: #FFF;
}


.button-navbar span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-navbar:hover span {
  padding-right: 20px;

}

.button-navbar:hover span:after {
  opacity: 1;
  right: 0;

}


/*for NAV BAR */

a:link {
  color: #A80874;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #343A1A;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #343A1A;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #343A1A;
  background-color: transparent;
  text-decoration: none;
}




@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */


@media (min-width: 768px) {
  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }
}


nav {
  background: none !important;
  text-transform:uppercase;

  img {

  }
  li {

    margin-left: 3em;
    margin-right: 3em;
    a{
      transition: .5s color ease-in-out;
    }
  }
}


// button for reveal text-transform
.button-reveal {
  display: inline-block;
  border-radius: 4px;
  background-color: #A80874;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding: 20px;
  width: 140px;
  transform: scale(0.55);
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button-reveal span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-reveal span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-reveal:hover span {
  padding-right: 25px;
}

.button-reveal:hover span:after {
  opacity: 1;
  right: 0;
}

.button-reveal:hover {
  background-color: #5EF38C;
}



@keyframes reveal-text {
  from {margin-top: 0px;}
  to {margin-top: -80px;}


  16.65% {
      margin-top: 5px;
  }

  33.3% {
      margin-top: -25px;
  }

  49.95% {
      margin-top: -70px;
  }

  66.6% {
      margin-top: -90px;
  }

  83.25% {
      margin-top: -75px;
  }

  100% {
      margin-top: -80px;
  }
}
