// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

section h1:first-child {
    margin-top: 18px;
}

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}



.button-js {
  display: inline-block;
  border-radius: 4px;
  background-color: #A80874;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-js span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-js span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-js:hover span {
  padding-right: 25px;
}

.button-js:hover span:after {
  opacity: 1;
  right: 0;
